/Demos
/Board_V1
/Magnet*Coil*Winding*Stand
/Solenoid*Design
/Testing*Data
/Board_V2.0/Development*notes.docx
/Board_V2.0/MATLAB*Board*Communication/
/Board_V2.0/MATLAB*Script2Comm/
/Board_V2.0/Parts.xlsx
/Board_V2.0/Perfboard*Parts.xlsx
/Board_V2.0/live_async.m
/Board_V2.0/scrap.txt
/Presentations/2dMagFluxDensity*-*Z=0mm.jpg
/Presentations/3dMagFluxDensity*-*Z=0mm.jpg
/Presentations/ActuatedWorkbenchOriginalReport.pdf
/Presentations/Assembly*of*Solenoid*Winding*Mechanism_.docx
/Presentations/IMG_3123.HEIC
/Presentations/Ideas/
/Presentations/Initial*Plans*for*Magnetic*Actuation*Board.docx
/Presentations/Magnetic*Actuation*Board*-*Update,*Fall*Semester.pptx
/Presentations/Magnetic*Actuation*Board*V2.0*Report.docx
/Presentations/Magnetic_Stand.JPG
/Presentations/Presentation*10-06/
/Presentations/Presentation*11-10/
/Presentations/Presentation*2-19
/Presentations/Presentation*3-20/
/Presentations/Project*Introduction_Background*Section*-*Ernesto*Gomez.docx
/Presentations/Project*Methods*Section*-*Ernesto*Gomez.docx
/Presentations/Project*Results*&*Conclusions*Sections.docx
/Presentations/Research*Scholar*Proposal*-*Ernesto*Gomez.docx
/Presentations/Research*Scholar*Proposal*-*Ernesto*Gomez.pdf
/Presentations/Resources/
/Presentations/Symposium*Poster*-*Magnetic*Actuation*Board.pptx
/Presentations/intensity_Plots.m
/Presentations/magnetsForVideo/
